<!DOCTYPE html>
<html lang=uk>
 <head>
 <title>Архітектура</title>
 <meta charset="utf-8">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/
3.3.7/css/bootstrap.min.css">
 </script>
 </head> 