<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" href="/list/<%= object.type_id %>">
			<p class="text-primary">
				<span class="glyphicon glyphicon-arrow-left"></span>
				<strong><%= object.type %></strong>
			</p>
		</a>
	</div>
</nav>
